 aws_region  = "ap-south-1"
vpc_cidr    = "10.0.0.0/16"
domain_name = "lokeshwaffle.in"

db_username = "admin"
db_password = "Lokesh@2024!"
db_name     = "lokeshdb"

github_repo = "pillalokesh/final-project"
